#body{
    position: relative;
}

#compte-tuile-profil, 
#tableau-scores{
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

#compte-tuile-profil{
    min-width: 350px;
}

#btn-jouer:active{
    color: #DEE2E6;
}

#select-choix-taille-memory{
    width: fit-content;
}

#message-bienvenue{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    color: #DEE2E6;
    background-color: rgb(1, 51, 48);
}

#affichage-miniature-memory{
    position: relative;
}

#message-enregistrement-param-jeu{
    display: none;
    position: absolute;
    top: 50%;
    background-color: rgba(106, 239, 150, 0.8);
    color: black;
}