#body{
    position: relative;
}

#form-connexion{
    min-width: 350px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

#message-erreur-saisie{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    color: black;
    background-color: #FBB46A
}